<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Reflux</title>
	<link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="libs/pnotify/pnotify.css">
	<link rel="stylesheet" type="text/css" href="libs/pnotify/pnotify.buttons.css">
	<link rel="stylesheet" type="text/css" href="libs/pnotify/pnotify.history.css">
	<link rel="stylesheet" type="text/css" href="libs/pnotify/pnotify.mobile.css">
	<link rel="stylesheet" type="text/css" href="libs/pnotify/pnotify.brighttheme.css">
	<link rel="stylesheet" type="text/css" href="css/utils.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<link rel="stylesheet" type="text/css" href="libs/toastr/toastr.min.css">
	<link rel="stylesheet" type="text/css" href="libs/bootstrap-table/react-bootstrap-table.min.css">
</head>
<body>
	<div id="app"></div>
	<script type="text/javascript" src="js/bundle.js"></script>
</body>
</html>
